#title {
  font-size: 70px;
}

#chart {
  margin: 0 auto;
}

#errorTitle {
  color: red;
  font-size: 30px;
}

#errorMessage {
  color: red;
  font-size: 20px;
}

#updateModal {
  padding: 14px;
}

#fucksCounterInput {
  width: 70%;
  display: block;
  margin-bottom: 24px;
}

#submitButton {
  width: 100%;
  height: 50px;
}
