#title {
  font-size: 70px;
}

#chart {
  margin: 0 auto;
}

#errorTitle {
  color: red;
  font-size: 30px;
}

#errorMessage {
  color: red;
  font-size: 20px;
}

#updateModal {
  margin: 0 auto;
  padding: 20px;
  width: 450px;
}

:focus {
  outline: 0;
}

#fucksCounterInput {
  width: 100%;
  display: block;
  margin-bottom: 24px;
}

#submitButton {
  -moz-box-shadow: inset 0px 34px 0px -15px #3dc21b;
  -webkit-box-shadow: inset 0px 34px 0px -15px #3dc21b;
  box-shadow: inset 0px 34px 0px -15px #3dc21b;
  background-color: #44c767;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 9px 76px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2f6627;
  width: 100%;
}
#submitButton:hover {
  background-color: #5cbf2a;
}
#submitButton:active {
  position: relative;
  top: 1px;
}

#buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#refreshButton {
  -moz-box-shadow: 3px 4px 0px 0px #29bbff;
  -webkit-box-shadow: 3px 4px 0px 0px #29bbff;
  box-shadow: 3px 4px 0px 0px #29bbff;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #2dabf9),
    color-stop(1, #0688fa)
  );
  background: -moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background: -webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background: -o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background: -ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
  background-color: #2dabf9;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: 1px solid #0b0e07;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 8px 35px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}
#refreshButton:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #0688fa),
    color-stop(1, #2dabf9)
  );
  background: -moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
  background: -webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
  background: -o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
  background: -ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
  background-color: #0688fa;
}
#refreshButton:active {
  position: relative;
  top: 1px;
}

#clearButton,
#updateButton {
  -moz-box-shadow: 0px 1px 0px 0px #1c1b18;
  -webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #eae0c2),
    color-stop(1, #ccc2a6)
  );
  background: -moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background: -webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background: -o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background: -ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
  background-color: #eae0c2;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 2px solid #333029;
  display: inline-block;
  cursor: pointer;
  color: #505739;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 21px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
#clearButton:hover,
#updateButton:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #ccc2a6),
    color-stop(1, #eae0c2)
  );
  background: -moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background: -webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background: -o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background: -ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
  background-color: #ccc2a6;
}
#clearButton:active,
#updateButton:active {
  position: relative;
  top: 1px;
}
